.background-procurement {
  background-image: linear-gradient(#FDB298, #B176FE);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
/*create two containers for the calendars horizontally*/
.background-sales {
  background-image: linear-gradient(#FFFF, #FFCE56);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;

}


.date-picker-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-picker-container .date-picker {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendars-container {
  width: 60%;
  margin: auto;
  position: relative;
  top: 100px;
  padding-top: 200px;
}

.weekdays-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  background-color: linear-gradient(#FFFF, #FFCE56);
  border-radius: auto;
  font-size: auto;
  font-weight: bold;
  color: #FFFF;
}

.weekdays-container .week-day {
  width: 14.28%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #808080;
}

